@page "/"

<PageTitle>FinChatter chat and bot</PageTitle>

<h1>Welcome to FinChatter</h1>

Go to chat and try to use our stock quote bot by typing /stock=symbol. Here are some examples:

<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>To get only one company:</strong>
/stock=AAPL.US
</div>

<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>For more than one:</strong>
/stock=AAPL.US,AAON.US
</div>