@page "/"
@attribute [Authorize]
<PageTitle>FinChatter chat and bot</PageTitle>

<h1>Welcome to FinChatter</h1>

Go to chat and try to use our stock quote bot by typing /stock=stock_code. Here are some examples:

<BasicAlert AlertType=BasicAlert.AlertTypesEnum.alert_secondary>
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>To get only one company:</strong> /stock=AAPL.US
</BasicAlert>

<BasicAlert AlertType=BasicAlert.AlertTypesEnum.alert_secondary>
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>For more than one:</strong> /stock=AAPL.US,AAON.US
</BasicAlert>
