<div class="alert @_alertType mt-4" role="alert">
    @ChildContent
</div>

@code {
    private string _alertType;

    [Parameter]
    public AlertTypesEnum  AlertType { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public enum AlertTypesEnum
    {
        alert_primary,
        alert_secondary,
        alert_success,
        alert_danger,
        alert_warning,
        alert_info,
        alert_light,
        alert_dark
    }

    protected override void OnInitialized()
    {
        _alertType = AlertType.ToString().Replace("_", "-");
        base.OnInitialized();
    }
}
